.header2
{
	position:sticky;
	top:0px;
	z-index:99999;
}
.header2 img
{
	margin-top:3px;
	margin-left:2%;
}
.director
{
	margin-top:80px;
	margin-bottom:80px;
	width:80%;
	margin-left:10%;
	height:auto;
}
.director img
{
	width:250px;
	height:200px;
	padding:2px;
	margin-right:20px;
}
.director p
{
	text-align:justify;
}
.header-title h1
{
	padding-top:10px;
}
@media screen and (max-width:1000px)
{
	.footer
	{
		position:absolute;
		bottom:0;
	}
}